@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  background-color: #fff;
  background: linear-gradient(135deg, rgb(226, 73, 76), rgb(255, 255, 255));
  min-height: 100vh;
  font-family: Tahoma;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  transition: all 0.3s ease-in-out;
}
.header .container p {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(305deg, #e2494c, #2f4858, cyan);
  text-transform: uppercase;
  letter-spacing: 5px;
  min-height: 100px;
  /* Apply the animation to the element */
}

.container .options {
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  gap: 20px;
  overflow: hidden;
  margin: 20px 0;
  color: #d1d1d1;
  text-transform: capitalize;
}
.container .options .op {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #d1d1d1;
  color: #2f4858;
}
.container .options .op.active {
  opacity: 1;
  transform: scale(0.9);
  transition-duration: 0.3s;
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(77px);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container .options .op-1 {
  padding-left: 10px;
  display: none;
}
.container .options .op-1.active {
  display: inherit;
}
.container .options .op-2 {
  padding-left: 10px;
  display: none;
}
.container .options .op-2.active {
  display: inherit;
}
.container .options .op-3 {
  padding-left: 10px;
  display: none;
}
.container .options .op-3.active {
  display: inherit;
}
.container .options .op-4 {
  padding-left: 10px;
  display: none;
}
.container .options .op-4.active {
  display: inherit;
}
.container .options .op-5 {
  padding-left: 10px;
  display: none;
}
.container .options .op-5.active {
  display: inherit;
}

.container .animate-se {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.container .difficulty {
  text-transform: capitalize;
  justify-content: end;
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  gap: 20px;
  overflow: hidden;
  margin: 20px 0;
  color: #2f4858;
  flex-direction: row-reverse;
  align-items: center;
}
.container .difficulty .di {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: #d1d1d1;
  padding: 10px 20px;
  border-radius: 10px;
  color: #2f4858;
}
.container .difficulty .di.active {
  opacity: 1;
  transform: scale(0.9);
  transition-duration: 0.3s;
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(77px);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container .difficulty .di-1 {
  padding-left: 10px;
  display: none;
}
.container .difficulty .di-1.active {
  display: inherit;
}
.container .difficulty .di-2 {
  padding-left: 10px;
  display: none;
}
.container .difficulty .di-2.active {
  display: inherit;
}
.container .difficulty .di-3 {
  padding-left: 10px;
  display: none;
}
.container .difficulty .di-3.active {
  display: inherit;
}

.op-to-select {
  font-size: 30px;
  text-align: center;
}
.op-to-select .text {
  text-align: start;
  color: #ddd;
}
.op-to-select .dropdown-one-container {
  overflow: hidden;
}
.op-to-select .dropdown-one-container .dropdown-one-btn {
  background-color: #d1d1d1;
  color: #2f4858;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 20px;
}
.op-to-select .dropdown-one-container .dropdown-one-btn p {
  margin: 0;
}
.op-to-select .dropdown-one-container .dropdown-one-btn .dropdown-icon {
  transform: rotate(181deg);
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.op-to-select .dropdown-one-container .dropdown-one-btn .dropdown-icon.active {
  transform: rotate(-1deg);
}
.op-to-select .dropdown-one-container .dropdown-options-container {
  display: none;
  background-color: red;
  border-radius: 22px;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.op-to-select .dropdown-one-container .dropdown-options-container.active {
  display: inherit;
  opacity: 1;
  transform: scale(0.9);
  transition-duration: 0.3s;
  animation: slide-in-top 0.3s both;
}
.op-to-select .dropdown-one-container .dropdown-options-container div {
  padding: 10px;
  cursor: pointer;
}
.op-to-select .dropdown-one-container .dropdown-options-container div.inactive {
  display: none;
}
.op-to-select .dropdown-one-container .dropdown-options-container div.active {
  display: block;
}
.op-to-select .dropdown-one-container .dropdown-options-container .ots-1 {
  padding-left: 10px;
}
.op-to-select .dropdown-one-container .dropdown-options-container .ots-2 {
  padding-left: 10px;
}
.op-to-select .dropdown-one-container .dropdown-options-container .ots-3 {
  padding-left: 10px;
}
.op-to-select .dropdown-one-container .dropdown-options-container .ots-4 {
  padding-left: 10px;
}
.op-to-select .dropdown-one-container .dropdown-options-container .ots-5 {
  padding-left: 10px;
}
@keyframes slide-in-top {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-273px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Start Footer*/
/*End Footer*//*# sourceMappingURL=main.css.map */