@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.btn {
  background-color: #4C4C6D;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #FFE194;
  color: #4C4C6D;
}

body {
  scroll-behavior: smooth;
  background-color: #E8F6EF;
  min-height: 100vh;
  font-family: Tahoma;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4C4C6D;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  transition: all 0.3s ease-in-out;
}
.header .container p {
  text-align: center;
  font-weight: bold;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(270deg, #4C4C6D, #319C81);
  text-transform: uppercase;
  letter-spacing: 5px;
  min-height: 137px;
}
@media (min-width:768px) {
  .header .container p {
    font-size: 4rem;
  }
}
@media (max-width:767px) {
  .header .container p {
    font-size: 2rem;
    line-height: 2;
  }
}

.container .options {
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  gap: 20px;
  overflow: hidden;
  margin: 20px 0;
  color: #4C4C6D;
  text-transform: capitalize;
}
@media (max-width:991px) {
  .container .options {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width:768px) {
  .container .options {
    font-size: 4rem;
  }
}
@media (max-width:767px) {
  .container .options {
    font-size: 2rem;
    line-height: 2;
    min-height: 200px;
  }
}
.container .options .op {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #FFE194;
  color: #4C4C6D;
  width: -moz-fit-content;
  width: fit-content;
}
.container .options .op.active {
  opacity: 1;
  transform: scale(0.9);
  transition-duration: 0.3s;
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(77px);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container .options .op-1 {
  padding-left: 10px;
  display: none;
}
.container .options .op-1.active {
  display: inherit;
}
.container .options .op-2 {
  padding-left: 10px;
  display: none;
}
.container .options .op-2.active {
  display: inherit;
}
.container .options .op-3 {
  padding-left: 10px;
  display: none;
}
.container .options .op-3.active {
  display: inherit;
}
.container .options .op-4 {
  padding-left: 10px;
  display: none;
}
.container .options .op-4.active {
  display: inherit;
}
.container .options .op-5 {
  padding-left: 10px;
  display: none;
}
.container .options .op-5.active {
  display: inherit;
}
.container .options .op-6 {
  padding-left: 10px;
  display: none;
}
.container .options .op-6.active {
  display: inherit;
}

.container .animate-se {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.container .difficulty {
  text-transform: capitalize;
  justify-content: end;
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  gap: 20px;
  overflow: hidden;
  color: #4C4C6D;
  flex-direction: row-reverse;
  align-items: center;
}
@media (max-width:991px) {
  .container .difficulty {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width:768px) {
  .container .difficulty {
    font-size: 4rem;
  }
}
@media (max-width:767px) {
  .container .difficulty {
    font-size: 2rem;
    line-height: 2;
    min-height: 200px;
  }
}
.container .difficulty .di {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: #FFE194;
  padding: 10px 20px;
  border-radius: 10px;
  color: #4C4C6D;
}
.container .difficulty .di.active {
  opacity: 1;
  transform: scale(0.9);
  transition-duration: 0.3s;
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(77px);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container .difficulty .di-1 {
  padding-left: 10px;
  display: none;
}
.container .difficulty .di-1.active {
  display: inherit;
}
.container .difficulty .di-2 {
  padding-left: 10px;
  display: none;
}
.container .difficulty .di-2.active {
  display: inherit;
}
.container .difficulty .di-3 {
  padding-left: 10px;
  display: none;
}
.container .difficulty .di-3.active {
  display: inherit;
}

.options-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.options-selection .instruction-text {
  text-align: start;
  color: #4C4C6D;
  font-size: 20px;
  line-height: 2;
}
.options-selection .dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.options-selection .dropdowns .dropdown button {
  background-color: #4C4C6D;
  color: #E8F6EF;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 20px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.options-selection .dropdowns .dropdown button:hover {
  background-color: #FFE194;
  color: #4C4C6D;
}
.options-selection .dropdowns .dropdown button p {
  margin: 0;
}
.options-selection .dropdowns .dropdown button i,
.options-selection .dropdowns .dropdown button svg {
  transform: rotate(181deg);
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.options-selection .dropdowns .dropdown button i.active,
.options-selection .dropdowns .dropdown button svg.active {
  transform: rotate(-1deg);
}
.options-selection .dropdowns .dropdown .dropdown-options {
  display: none;
  background-color: #FFE194;
  border-radius: 22px;
  color: #4C4C6D;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  margin-top: 10px;
  position: absolute;
  z-index: 99;
}
.options-selection .dropdowns .dropdown .dropdown-options::-webkit-scrollbar {
  display: none;
}
.options-selection .dropdowns .dropdown .dropdown-options.active {
  display: inherit;
  opacity: 1;
  transform: scale(0.9);
  transition-duration: 0.3s;
  animation: slide-in-top 0.3s both;
}
.options-selection .dropdowns .dropdown .dropdown-options .option {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.options-selection .dropdowns .dropdown .dropdown-options .option:hover {
  background-color: #4C4C6D;
  color: #fff;
}
.options-selection .dropdowns .dropdown .dropdown-options .option.inactive {
  display: none;
}
.options-selection .dropdowns .dropdown .dropdown-options .option.active {
  display: block;
}
.section-container {
  border-radius: 10px;
  color: #4C4C6D;
  margin-bottom: 20px;
  margin-top: 20px;
  display: none;
}
.section-container.show {
  display: inherit;
  background: rgba(209, 209, 209, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.section-container .question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-container .question-container .title-conatiner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  font-weight: bold;
}
.section-container .question-container .title-conatiner .question {
  display: flex;
  gap: 20px;
}
.section-container .question-container .question-answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: none;
  padding: 10px 15px;
}
.section-container .question-container .question-answer-container.active {
  display: flex;
}
.section-container .question-container .answer-choices {
  width: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* يعرض عنصرين في كل صف */
  align-items: center;
}
@media (max-width:767px) {
  .section-container .question-container .answer-choices {
    grid-template-columns: none;
  }
}
.section-container .question-container .answer-choices .answer-choice {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-container .question-container .answer-choices .answer-choice input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.section-container .question-container .answer-choices .answer-choice input:checked + label::after,
.section-container .question-container .answer-choices .answer-choice input :not(:checked):hover + label::after {
  content: "";
  background-color: #4C4C6D;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 11px;
  top: 14px;
}
.section-container .question-container .answer-choices .answer-choice input:not(:checked):hover:before {
  border: 1px solid #fff;
}
.section-container .question-container .answer-choices .answer-choice label {
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.section-container .question-container .answer-choices .answer-choice label:hover {
  background-color: #888;
  color: #fff;
}
.section-container .question-container .answer-choices .answer-choice label:hover::after {
  transition: all 0.3s ease-in-out;
  content: "";
  background-color: #fff;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 11px;
  top: 14px;
}
.section-container .question-container .answer-choices .answer-choice label:hover:not(:checked):hover + .section-container .question-container .answer-choices .answer-choice label:hover::after {
  opacity: 0.2;
}
.section-container .question-container .answer-choices .answer-choice label:hover :checked + label {
  color: #4C4C6D;
}
.section-container .question-container .answer-choices .answer-choice label::before {
  transition: all 0.3s ease-in-out;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #4C4C6D;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}
.section-container .question-container .buttons {
  order: 1;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.section-container .question-container .buttons .next {
  width: 90%;
}
.section-container .question-container .buttons .next.disabled {
  display: none;
  cursor: not-allowed;
}
.section-container .question-container .buttons .show-result {
  display: none;
}
.section-container .question-container .buttons .show-result.show {
  display: inherit;
}

.result {
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-radius: 10px;
  gap: 20px;
  margin: 20px 0;
  margin: auto;
  width: 90%;
  background: rgba(209, 209, 209, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.result.show {
  display: flex;
}
.result h1 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
  color: #4C4C6D;
}
.result .contanier-Of-selected {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 10px;
  gap: 4rem;
}
@media (max-width:991px) {
  .result .contanier-Of-selected {
    flex-direction: column;
    align-items: center;
  }
}
.result .contanier-Of-selected .corrects,
.result .contanier-Of-selected .incorrects {
  padding: 10px;
  border-radius: 5px;
}
.result .contanier-Of-selected .corrects h1,
.result .contanier-Of-selected .incorrects h1 {
  color: #fff;
}
.result .contanier-Of-selected .corrects div:not(:last-child),
.result .contanier-Of-selected .incorrects div:not(:last-child) {
  margin-bottom: 10px;
}
.result .contanier-Of-selected .corrects {
  width: 50%;
  background: rgba(0, 124, 77, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (max-width:991px) {
  .result .contanier-Of-selected .corrects {
    width: 90%;
  }
}
.result .contanier-Of-selected .incorrects {
  width: 50%;
  background: rgba(171, 0, 0, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (max-width:991px) {
  .result .contanier-Of-selected .incorrects {
    width: 90%;
  }
}
.result .num-correct {
  padding: 10px;
  order: -1;
  margin-top: 5px;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #4C4C6D;
}

/*Start Footer*/
/*End Footer*//*# sourceMappingURL=main.css.map */