// Media
// Max
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
// Min
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";

// Colors
// $primaryRed: #e2494c;
$grayishSilver: #9c9c9c;
$light: #fff;
$lightGray: #ddd;
$darkerGray: #d1d1d1;
$darkGray: #888;
// $darkBlueColor: #2f4858;
// 
$primary: #E8F6EF;
$Secondary:#FFE194;
$darkBlueColor:#4C4C6D;
// 
$primaryTrantion:all 0.3s ease-in-out;