@use "../utils/variables" as *;

.btn {
    background-color: $darkBlueColor;
    color: $light;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: $primaryTrantion;
    &:hover {
      background-color: $Secondary;
      color: $darkBlueColor;
    }
  }