@use "../utils/variables" as *;
.header {
  .container {
    p {
      text-align: center;
      font-size: 4rem;
      font-weight: bold;
      color: $light;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      background-image: linear-gradient(305deg, #e2494c, #2f4858, cyan);
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}
