@use "../utils/variables" as *;
$number-of-items: 5;
.op-to-select {
  font-size: 30px;
  text-align: center;

  .text {
    text-align: start;
    color: $lightGray;
  }
  // one
  .dropdown-one-container {
    overflow: hidden;
    .dropdown-one-btn {
      background-color: $darkerGray;
      color: $darkBlueColor;
      cursor: pointer;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 10px 20px;
      border-radius: 10px;
      gap: 20px;
      p {
        margin: 0;
      }
      .dropdown-icon {
        transform: rotate(181deg);
        margin-left: 10px;
        transition: all 0.3s ease-in-out;
        &.active {
          transform: rotate(-1deg);
        }
      }
    }
    .dropdown-options-container {
      display: none;
      background-color: red;
      border-radius: 22px;
      color: white;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &.active {
        display: inherit;
        opacity: 1;
        transform: scale(0.9);
        transition-duration: 0.3s;
        animation: slide-in-top 0.3s both;
      }

      div {
        padding: 10px;
        cursor: pointer;
        &.inactive{
            display: none;
        }
        &.active{
            display: block;
        }
      }
      @for $i from 1 through $number-of-items {
        .ots-#{$i} {
          padding-left: 10px;
          //   display: none;
        }
        .ots-#{$i}.active {
          //   display: inherit;
        }
      }
    }
  }

  .ots-two {
  }
  .ots-three {
  }
}
@keyframes slide-in-top {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-273px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
