@use "../utils/variables" as *;
$number-of-items: 5;
.container {
  
  .options {
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    gap: 20px;
    overflow: hidden;
    margin: 20px 0;
    color: $darkerGray;
    text-transform: capitalize;
    .op {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $darkerGray;
      color: $darkBlueColor;
    }
    .op.active {
      opacity: 1;
      transform: scale(0.9);
      transition-duration: 0.3s;
      animation: slide-in-top 0.3s both;
    }
    @keyframes slide-in-top {
      0% {
        transform: translateY(77px);
        opacity: 0;
        filter: blur(10px);
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @for $i from 1 through $number-of-items {
      .op-#{$i} {
        padding-left: 10px;
        display: none;
      }
      .op-#{$i}.active {
        display: inherit;
      }
    }
  }
}
