@use "../utils/variables" as *;
$number-of-items: 6;
$number-of-difficulty-items: 3;

.container {
  .difficulty,
  .options {
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    gap: 20px;
    overflow: hidden;
    margin: 20px 0;
    color: $brandBlue;
    text-transform: capitalize;
    @media #{$maxSmall} {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media #{$minSmall} {
      font-size: 4rem;
    }

    @media #{$maxMobile} {
      font-size: 2rem;
      line-height: 2;
      min-height: 200px;
    }
    .di,
    .op {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $Secondary;
      color: $brandBlue;
      width: fit-content;
    }
    .di.active,
    .op.active {
      opacity: 1;
      transform: scale(0.9);
      transition-duration: 0.3s;
      animation: slide-in-top 0.3s both;
    }
    @keyframes slide-in-top {
      0% {
        transform: translateY(77px);
        opacity: 0;
        filter: blur(10px);
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @for $i from 1 through $number-of-items {
      .op-#{$i} {
        padding-left: 10px;
        display: none;
      }
      .op-#{$i}.active {
        display: inherit;
      }
    }
  }
  //difficulty
  .difficulty {
    margin: unset;
    color: $brandBlue;
    flex-direction: row-reverse;
    align-items: center;
    .di {
    }
    .di.active {
    }
    @keyframes slide-in-top {
      0% {
        transform: translateY(77px);
        opacity: 0;
        filter: blur(10px);
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @for $i from 1 through $number-of-difficulty-items {
      .di-#{$i} {
        padding-left: 10px;
        display: none;
      }
      .di-#{$i}.active {
        display: inherit;
      }
    }
  }
}
