@use "../utils/variables" as *;
.section-container {
  border-radius: 10px;
  color: $brandBlue;
  margin-bottom: 20px;
  margin-top: 20px;
  display: none;
  &.show {
    display: inherit;
    background: rgba(209, 209, 209, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .question-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title-conatiner {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 20px;
      font-weight: bold;
      .current-question {
      }
      .question {
        display: flex;
        gap: 20px;
        .num {
        }
      }
    }
    .question-answer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      display: none;
      padding: 10px 15px;
      &.active {
        display: flex;
      }
    }
    .answer-header {
    }

    .answer-choices {
      width: 100%;
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* يعرض عنصرين في كل صف */
      align-items: center;
      @media #{$maxMobile} {
        grid-template-columns:none;
      }
      // gap: 10px; /
      .answer-choice {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        input {
          -webkit-appearance: none;
          appearance: none;
          // &:hover {
          //   background-color: $darkGray;
          //   color: $light;
          // }
          &:checked + label::after,
          :not(:checked):hover + label::after {
            content: "";
            background-color: $brandBlue;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 11px;
            top: 14px;
          }
          &:not(:checked):hover:before {
            border: 1px solid $light;
          }
        }
        label {
          padding: 10px 40px;
          border-radius: 10px;
          cursor: pointer;
          transition: $primaryTrantion;
          position: relative;
          &:hover {
            background-color: $darkGray;
            color: $light;
            &::after {
              transition: $primaryTrantion;
              content: "";
              background-color: $light;
              width: 10px;
              height: 10px;
              position: absolute;
              left: 11px;
              top: 14px;
            }
            &:not(:checked):hover + &::after {
              opacity: 0.2;
            }
            :checked + label {
              color: $brandBlue;
            }
            // &:not(:checked)::before{
            //   border: 1px solid $light;
            // }
          }
          &::before {
            transition: $primaryTrantion;
            content: "";
            width: 16px;
            height: 16px;
            border: 1px solid $brandBlue;
            position: absolute;
            left: 7px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
          }
        }
      }
    }
    .buttons {
      order: 1;
      padding: 20px 0;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      button {
      }
      .next {
        width: 90%;
        &.disabled{
          display: none;
          cursor: not-allowed;
        }
      }
      .previous {
      }
      .show-result{
        display: none;
        &.show{
          display: inherit;
        }
      }
    }
  }
}
// .spinner{
//   .spinner {
//     width: 56px;
//     height: 56px;
//     display: grid;
//     border: 4.5px solid #0000;
//     border-radius: 50%;
//     border-color: #dbdcef #0000;
//     animation: spinner-e04l1k 1s infinite linear;
//   }
  
//   .spinner::before,
//   .spinner::after {
//     content: "";
//     grid-area: 1/1;
//     margin: 2.2px;
//     border: inherit;
//     border-radius: 50%;
//   }
  
//   .spinner::before {
//     border-color: #474bff #0000;
//     animation: inherit;
//     animation-duration: 0.5s;
//     animation-direction: reverse;
//   }
  
//   .spinner::after {
//     margin: 8.9px;
//   }
  
//   @keyframes spinner-e04l1k {
//     100% {
//       transform: rotate(1turn);
//     }
//   }
// }