@use "../utils/variables" as *;
body {
  background-color: $light;
//   background: rgba(226, 73, 76, 1);
  background: linear-gradient(
    135deg,
    rgba(226, 73, 76, 1),
    rgba(255, 255, 255, 1)
  );
  min-height: 100vh;
  font: {
    family: Tahoma;
    size: 16px;
  }
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
